.main-title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

body {
    text-align: left;
}

html {
    padding: 2%;
}

.chart-container > div {
    width: 100%;
}

.vega-embed {
    width: 100%;
}