/* Base Styling & Background */
html {
    background-color: #ffffff;
    padding: 2%;
}
body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 800;
    font-style: bold;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: bold;
}